{% extends '::base.html.twig' %}

{% block body %}
  <div class="col-sm-6">
    <div class="dd" id="nestable">
      <ol class="dd-list">
        {% for t in transactions %}
          <li class="dd-item" data-id="1">
            <div class="dd-handle">
              {{ t.getDate()|date('d.m.Y') }} -
              {{ t.getDescription() }}
              <div class="pull-right action-buttons">
                {{ t.getAmount() }}
                <a class="blue" href="{{ path('c3_budget_edit_transaction', {'id': t.getId()}) }}">
                  <i class="ace-icon fa fa-pencil bigger-130"></i>
                </a>
                <a class="red" href="{{ path('c3_budget_delete_transaction', {'id': t.getId()}) }}">
                  <i class="ace-icon fa fa-trash-o bigger-130"></i>
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
        <!--
        <li class="dd-item" data-id="2">
            <div class="dd-handle">
                Item 2
            </div>

            <ol class="dd-list">
                <li class="dd-item" data-id="3">
                    <div class="dd-handle">
                        Item 3
                        <a data-rel="tooltip" data-placement="left" title="" href="#" class="pull-right tooltip-info btn btn-primary btn-xs btn-white btn-bold" data-original-title="Change Date">
                            <i class="bigger-120 ace-icon fa fa-calendar"></i>
                        </a>
                    </div>
                </li>
            </ol>
        </li>
        -->
      </ol>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    jQuery(function ($) {
      $('.dd').nestable();

      $('.dd-handle a').on('mousedown', function (e) {
        e.stopPropagation();
      });

      $('[data-rel="tooltip"]').tooltip();

      {% if status == 'create' %}
      toastr.success("{{ 'transaction.messages.create'|trans }}");
      {% elseif status == 'update' %}
      toastr.success("{{ 'transaction.messages.update'|trans }}");
      {% elseif status == 'delete' %}
      toastr.success("{{ 'transaction.messages.delete'|trans }}");
      {% endif %}
    });
  </script>
{% endblock %}